/* FOOTER */ 
#footer{
    .header-color{
        border-radius: 15px;
        .link-content{
            padding: 20px;
            h5:hover{
                a{
                    color: $title-color;
                }
            }
            a{
                color: white;
                text-decoration: none;
            }
            ul{
                padding: 0;
            }
            ul li:hover a{
                color: $text-color;
            }
            .list-logo{
                li{
                    img{
                        padding: 5px;
                    }
                }
            }
        }
    }
}