/* VARIABLE */
$font-quicksand: 'Quicksand', cursive;
$font-montserrat: 'Montserrat', cursive;
$font-anton: 'Anton', cursive;
$header-color: #00483d;
$title-color: #009981;
$text-color: #57ffe6;
$main: #f4f4f4;
/* !VARIABLE */